AbtractFactoryBasico/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.AssemblyInfo.cs
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.AssemblyInfoInputs.cache
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.assets.cache
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.csproj.CoreCompileInputs.cache
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.csproj.FileListAbsolute.txt
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.dll
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.GeneratedMSBuildEditorConfig.editorconfig
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.genruntimeconfig.cache
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.GlobalUsings.g.cs
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.pdb
AbtractFactoryBasico/obj/Debug/net8.0/AbtractFactoryBasico.sourcelink.json
AbtractFactoryBasico/obj/Debug/net8.0/apphost.exe
AbtractFactoryBasico/obj/Debug/net8.0/ref/AbtractFactoryBasico.dll
AbtractFactoryBasico/obj/Debug/net8.0/refint/AbtractFactoryBasico.dll
AbtractFactoryBasico/bin/Debug/net8.0/AbtractFactoryBasico.deps.json
AbtractFactoryBasico/bin/Debug/net8.0/AbtractFactoryBasico.dll
AbtractFactoryBasico/bin/Debug/net8.0/AbtractFactoryBasico.exe
AbtractFactoryBasico/bin/Debug/net8.0/AbtractFactoryBasico.pdb
AbtractFactoryBasico/bin/Debug/net8.0/AbtractFactoryBasico.runtimeconfig.json
AbtractFactoryBasico/obj/AbtractFactoryBasico.csproj.nuget.dgspec.json
AbtractFactoryBasico/obj/AbtractFactoryBasico.csproj.nuget.g.props
AbtractFactoryBasico/obj/AbtractFactoryBasico.csproj.nuget.g.targets
AbstractFactoryPayment/bin/Debug/net8.0/AbstractFactoryPayment.deps.json
AbstractFactoryPayment/bin/Debug/net8.0/AbstractFactoryPayment.dll
AbstractFactoryPayment/bin/Debug/net8.0/AbstractFactoryPayment.exe
AbstractFactoryPayment/bin/Debug/net8.0/AbstractFactoryPayment.pdb
AbstractFactoryPayment/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.AssemblyInfo.cs
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.AssemblyInfoInputs.cache
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.assets.cache
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.csproj.CoreCompileInputs.cache
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.csproj.FileListAbsolute.txt
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.dll
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.GeneratedMSBuildEditorConfig.editorconfig
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.genruntimeconfig.cache
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.GlobalUsings.g.cs
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.pdb
AbstractFactoryPayment/obj/Debug/net8.0/AbstractFactoryPayment.sourcelink.json
AbstractFactoryPayment/obj/Debug/net8.0/apphost.exe
AbstractFactoryPayment/obj/Debug/net8.0/ref/AbstractFactoryPayment.dll
AbstractFactoryPayment/obj/Debug/net8.0/refint/AbstractFactoryPayment.dll
